.comment-section{
    font-style: italic;
    font-size:20px;
}

.header-search-bar{
    width:300px !important;
}

.search-box{
    border:1px solid #bbb;
    border-radius: 20px;
    padding:5px;
}

.card{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}