<header class="content__title">
    <div class="row">
        <div class="col-sm-6">
            <h3>New User</h3>
        </div>
        <div class="col-sm-6 header-button">
            <button type="button" class="btn btn-white btn-sm btn-shadow pull-right" [routerLink]="['/user/maintenance/user']">CANCEL</button>
            <button type="button" class="btn btn-ama-custom-purple btn-sm btn-shadow m-r-20 pull-right" (click)="saveUser()">SAVE</button>
        </div>
    </div>
</header>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Title test</h4>
        <h6 class="card-subtitle">Sub title test</h6>
        body contents

    </div>
</div>