<header class="content__title">
    <h3>{{ widgetTitle }}</h3>
    <small>{{ widgetSubTitle }}</small>

</header>

<widget-quick-stats></widget-quick-stats>

<div class="row">
    <div class="col-lg-6">
        <widget-sales-statistics></widget-sales-statistics>
    </div>
    <div class="col-lg-6">
        <widget-growth-rate></widget-growth-rate>
    </div>
</div>

<div class="widget-lists card-columns">
    <widget-featured-post></widget-featured-post>
    <widget-todo></widget-todo>
    <widget-visitors></widget-visitors>
    <!-- <widget-calendar></widget-calendar> -->
    <widget-past-days></widget-past-days>
    <widget-recent-posts></widget-recent-posts>
    <widget-pie-grids></widget-pie-grids>
</div>